html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #777;
    font-family: 'Lato', sans-serif;
    display: block;
}

div {
    display: inline-block;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.border-party {
    background-color: #111;
    font-size: 32px;
    letter-spacing: 10px;
    padding: 18px;
    color: #fff;
}

.border-jazz {
    background-color: #FFFFFF;
    font-size: 32px;
    letter-spacing: 10px;
    padding: 18px;
    color: #111;
}

.bg {
    font-size: 0pt;
    width: 50%;
    height: 100%;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    opacity: 0.7;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    margin-bottom: -5px;
}
.bg:hover {
    opacity: 1;
}

.bgtop {
    background-image: url('/party/img/BgImg1.jpg');
}

.bgbot {
    background-image: url('/jazz/img/j_BgImg1.jpg');
}